---
layout: page
description: "Mechatronics, Controls, Mechanical Engineering"
---
<h2> About </h2>
 <p> I am a Mechanical Engineering graduate student and programmer at Florida State University interested in the research and development of mechatronics and control systems. </p>

 <p> I would love to work on making big things move safely by combining my programming and mechanical engineering backgrounds.</p>
 
<h2> Projects </h2>

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older  &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
